html {
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0
}

article, aside, footer, header, nav, section {
    display: block
}

h1 {
    font-size: 2em;
    margin: .67em 0
}

figcaption, figure, main {
    display: block
}

figure {
    margin: 1em 40px
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible
}

pre {
    font-family: monospace, monospace;
    font-size: 1em
}

a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects
}

abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    text-decoration: underline dotted
}

b, strong {
    font-weight: inherit
}

b, strong {
    font-weight: bolder
}

code, kbd, samp {
    font-family: monospace, monospace;
    font-size: 1em
}

dfn {
    font-style: italic
}

mark {
    background-color: #ff0;
    color: #000
}

small {
    font-size: 80%
}

sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sub {
    bottom: -.25em
}

sup {
    top: -.5em
}

audio, video {
    display: inline-block
}

audio:not([controls]) {
    display: none;
    height: 0
}

img {
    border-style: none
}

svg:not(:root) {
    overflow: hidden
}

button, input, optgroup, select, textarea {
    font-family: sans-serif;
    font-size: 100%;
    line-height: 1.15;
    margin: 0
}

button, input {
    overflow: visible
}

button, select {
    text-transform: none
}

button, html [type=button], [type=reset], [type=submit] {
    -webkit-appearance: button
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
    border-style: none;
    padding: 0
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
    outline: 1px dotted ButtonText
}

fieldset {
    padding: .35em .75em .625em
}

legend {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal
}

progress {
    display: inline-block;
    vertical-align: baseline
}

textarea {
    overflow: auto
}

[type=checkbox], [type=radio] {
    box-sizing: border-box;
    padding: 0
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
    height: auto
}

[type=search] {
    -webkit-appearance: textfield;
    outline-offset: -2px
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit
}

details, menu {
    display: block
}

summary {
    display: list-item
}

canvas {
    display: inline-block
}

template {
    display: none
}

[hidden] {
    display: none
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* SNIPPET ENDS HERE */

.wrapper {
    max-width: 1170px;
    padding-left: 16px;
    padding-right: 16px;
    margin: 0 auto;
}


html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}

/* body styling */
body {
    background-color: #FEFAE0;
}

/* h1 styling */
h1 {
    text-align: center;
    font-size: 4.2rem;
}

/* header h2 styling */
header h2 {
    text-align: center;
    font-size: 2.8rem;
}

/* form styling */
form {
    background-color: #E9EDC9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    min-height: 20vh;
    width: 50%;
    margin: 0 auto;
    border-radius: 3px;
    border: 2px solid #000000;
}

/* form label styling */
form label {
    font-size: 3rem;
}

/* form input styling */
form input {
    width: 35%;
    font-size: 2rem;
    border: 3px solid black;
    border-radius: 5%;
    padding: 5px;
    margin: 10px 0;
}

/* form input styling */
form input:focus {
    outline: none;

}

/* button styling */
button {
    font-size: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    padding: 5px;
    background-color: #FAEDCD;
    text-align: center;
    transition: all 0.2s;
    border: 2px solid #a37342;
    border-radius: 5px;
}

button:hover {

    background-color: #a37342;
}


/* book display styling */
.bookDisplay {
    min-height: 40vh;
    margin-top: 40px;
    margin-bottom: 20px;
    width: 90%;
    padding: 20px;
    background-color: #FAEDCD;
    display: flex;
    justify-content: space-around;
    margin: 10px auto;
    flex-wrap: wrap;

}

/* book icon styling */
.bookIcon {
    width: 150px;
    height: 100px;
    padding: 10px 0px;
    transition: transform 4s ease-in-out;
    position: absolute;
    margin: 0 auto;
    top: 20px;
    left: 42.5%;
}

/* book rotate */
.bookRotate {
    transform: rotate(360deg);
}

/* book hide class */
.bookHide {
    opacity: 0;
}

/* container styling */
.container {
    min-height: 200px;
    display: flex;
    justify-content: space-between;
    background-color: #D4A373;
    margin: 10px 10px;
    padding: 5px;
    border-radius: 5%;

}

/* container styling */
.container a {
    text-decoration: none;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    transition: all ease-in-out;
}

/* container hover */
.container:hover {
    position: relative;
    bottom: 10px;
    background-color: #a37342;
}

/* container p */
.container p {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-size: 1.6em;
    margin: 0 auto;
    text-align: center;
    width: 10em;

}

/* image container styling */
.imageContainer {
    max-height: 200px;
    max-width: 100px;
    margin: 10px auto
}

/* image container image */
.imageContainer img {
    max-height: 100%;
    width: 100%;
    object-fit: cover;

}

/* main styling */
main {
    min-height: 40vh;
    margin: 10px 0;
}

/* section styling */
section {
    position: relative;
}

/* footer styling */
footer {
    margin-top: 10px;
    padding: 5px;
    text-align: center;
}

/* footer link styling */
footer a {

    color: black;
    text-decoration: none;
    font-size: 2rem;
    padding: 5px;
    text-align: center;

}